html {
  --font-color: #000;
	--background-color: #fff;

  --accent-color: #4FC1E8;
  --translucent-accent-color: rgba(79, 193, 232, 0.5);
	--shadow: rgba(0,0,0,.25);
  --light-shadow: rgba(187,187,187,1);

  --transition-duration: .25s;
}

/* dark mode */
@media screen and (prefers-color-scheme: dark) {
	html {
		--font-color: #fff;
		--background-color: #333;
		--shadow: rgba(0,0,0,.5);
    --light-shadow: rgba(33,33,33,1);
  }
}

@media (prefers-reduced-motion) {
  html {
		--transition-duration: 0s;
  }
}

.green {
    --accent-color: rgb(144, 238, 144);
    --translucent-accent-color: rgba(144, 238, 144, 0.5);
}

.yellow {
    --accent-color: rgb(255, 206, 84);
    --translucent-accent-color: rgba(255, 206, 84, 0.5);
}

.red {
    --accent-color: #ff8888;
    --translucent-accent-color: rgba(255,0,0,0.5);
}

.purple {
    --accent-color: rgb(172, 146, 235);
    --translucent-accent-color: rgba(172, 146, 235, 0.5);
}
