.data {
    display: block;
    position: absolute;
    justify-content: start;
    align-items: center;
    margin-left: 25%;
    flex-direction: column;
    text-align: start;
    line-height: 1.5em;
}

.data_done {
    display: block;
    position: absolute;
    justify-content: start;
    align-items: center;
    margin-left: 10vw;
    flex-direction: column;
    text-align: start;
    line-height: 1.5em;
    transition: all 0.5s;
}

.title {
    display: inline-block;
    font-size: 2em;
    font-weight: 400;
}

.title_done {
    display: inline-block;
    font-size: 2em;
    font-weight: 400;
    color: rgba(255, 0, 0, 0.4);
    text-decoration: line-through;
    transition: all 0.5s;
}

.date {
    font-weight: 100;
    font-size: 1em;
}

.tags {
    display: block;
    position: absolute;
    right: 0;
    width: 20vw;
    background-color: var(--defaultbgc);
}


.tag {
    display: inline-block;
    border-radius: 6.25rem;
    background-color: #4FC1E8;
    color: white;
    padding: 0.5vw 1vw;
    margin: 0.5vw 0.5vh;
    list-style: none;
    transition: all 0.2s;
}

.tag:hover {
    color: #4FC1E8;
    background-color: white;
    border: 1px solid #4FC1E8;
    padding: 0.40vw 0.90vw;
}