.add {
	--size: 4rem;
	font-size: var(--size);
	font-weight: 100;

	aspect-ratio: 1/1;
	width: var(--size);

	position: fixed;
	right: 1.5rem;
	bottom: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--background-color);
	background-color: var(--accent-color);
	border-radius: calc(var(--size) / 2);
	box-shadow: 0 0 1rem var(--shadow);

	transition: all var(--transition-duration);
	cursor: pointer;
	user-select: none;
	overflow: hidden;
	z-index: 9998;
}

.add:hover,
.task-form[enabled="true"] ~ .add {
	color: var(--accent-color);
	background-color: var(--background-color);
}
