.login input[type="submit"] {
  --size: 1rem;
  margin-top: 3em;
}

form {
  position: relative;
  min-height: inherit;
  text-align: center;
}

label {
  --input-width: 20ch;
  padding: .5em;
  border-radius: 2em;
  margin-top: 2em;
  right: calc(-50% + var(--input-width));

  display: block;
  position: relative;
  width: calc(var(--input-width) * 2);
}

label:has(input:focus) {
  box-shadow: inset 0px 0px 0px 2px var(--accent-color);
  color: var(--accent-color);
}

label:first-of-type {
  margin-top: 20vh;
  margin-top: 20svh;
}

input {
    --size : 1rem;
    font-size: var(--size);

    padding: .5em;
    border-radius: 1.25em;
    border: 0;
    margin-left: 1ch;
    left: 50%;
    width: var(--input-width);

    color: var(--accent-color);
    background-color: var(--background-color);
  	box-shadow: inset 0px 0px 0px 2px var(--accent-color);

		transition: all var(--transition-duration);
}

input:focus {
  outline: none;
}

input::placeholder {
  opacity: 1;
}
