ul.folders,
ul.tags {
  position: relative;
  right: calc(var(--aside-width) - .5rem);

  text-align: left;
  width: calc(var(--aside-width) - 1rem);
  height: 3rem;
  margin-bottom: 1rem;

  overflow: hidden;

  box-shadow: inset 0px 0px 0px .1em var(--light-shadow);
}

ul.folders[enabled="true"],
ul.tags[enabled="true"] {
  height: auto;
}

ul.folders h2,
ul.tags h2 {
  display: block;
  position: relative;
  overflow: visible;

	font-size: 1rem;
  width: 90%;
  padding: 1em 5%;
	cursor: pointer;
  user-select: none;
}

ul.folders h2::after,
ul.tags h2::after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  aspect-ratio: 1/1;
  padding: 1em;

  text-align: center;

  transition: transform .25s;

  background-repeat: no-repeat;
	background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3' viewBox='-3.25 -3.25 10.5 10.5' %3E%3Cpath%20d%3D%22M%200%2C1%20l%202%2C2%20l%202%2C-2%22%20stroke%3D%22%23000%22%20stroke-width%3D%22.2%22%20fill%3D%22none%22%2F%3E%3C/svg%3E");
}

@media screen and (prefers-color-scheme: dark) {
  ul.folders h2::after,
  ul.tags h2::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3' viewBox='-3.25 -3.25 10.5 10.5' %3E%3Cpath%20d%3D%22M%200%2C1%20l%202%2C2%20l%202%2C-2%22%20stroke%3D%22%23fff%22%20stroke-width%3D%22.2%22%20fill%3D%22none%22%2F%3E%3C/svg%3E");
  }
}

ul.folders[enabled="true"] h2::after,
ul.tags[enabled="true"] h2::after {
  transform: rotate(180deg);
}

ul.tags li {
  margin: 0 .25em .5em;
}

@media screen and ((max-width: 512px) or (orientation: portrait)) {
  ul.folders,
  ul.tags {
    right: 0;
    width: 100%;
  }
}
