button,
input,
ul.tags li {
    --size : 1rem;
    display: inline-block;
    font-size: var(--size);

    padding: .5em;
    border-radius: 1.25em;
    margin: .25em;

    color: var(--background-color);
    background-color: var(--accent-color);

		transition: color var(--transition-duration), background-color var(--transition-duration), box-shadow var(--transition-duration);
    cursor: pointer;
    user-select: none;
}

input:not([type="button"],[type="submit"]) {
  margin: 0;
}

ul.tasks ul.tags li {
  cursor: default;
}

.dropdown-list+ul.tags li {
  margin: 0 .25em .5em;
}

.dropdown-list+ul.tags li:last-of-type {
  margin-bottom: .6em;
}

input:hover,
ul.tags li[enabled="false"]:hover,
input[type="checkbox"] {
  color: var(--font-color);
}

ul.tags li::before {
	content: '#';
}

button:hover,
input:focus:not([type="checkbox"]),
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="checkbox"]:checked,
ul.tags li[enabled="true"] {
	color: var(--accent-color);
	background-color: var(--background-color);
	box-shadow: inset 0px 0px 0px .1em var(--accent-color);
}
