button,
input,
ul.tags li,
.tag {
    --size : 1rem;
    display: inline-block;
    font-size: var(--size);

    padding: .5em;
    border-radius: 1.25em;
    margin: .25em;

    color: var(--background-color);
    background-color: var(--accent-color);

		transition: color var(--transition-duration), background-color var(--transition-duration), box-shadow var(--transition-duration);
    cursor: pointer;
    user-select: none;
}

.tag {
  cursor: default;
  --accent-color: var(--default-accent-color);
}

ul.tags li {
  margin: 0 .25em .5em;
}

ul.tags li:last-of-type {
  margin-bottom: .6em;
}

ul.tags li:hover {
  color: var(--font-color);
}

ul.tags li::before,
.tag::before {
	content: '#';
}

button:hover,
input:hover,
input:focus,
ul.tags li[enabled="true"] {
	color: var(--accent-color);
	background-color: var(--background-color);
	box-shadow: inset 0px 0px 0px .1em var(--accent-color);
}
