.checkbox-circle {
    position: absolute;
    left: 0;
    margin-left: 5vw;
    width: 1.4em;
    height: 1.4em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    outline: none;
    cursor: pointer;
    transition: all 0.25s;
}

.checkbox-circle:hover {
    border-radius: 1em;
    border: 2px solid #fff;
    width: 1.2em;
    height: 1.2em;
    background: #50565a;
    box-shadow: 0 0 0 1px #000;
    transform: rotateX(180deg);
}
