ul.folders li {
  --padding-sides: 1em;

  display: block;
  position: relative;

	font-size: 1rem;
  width: calc(90% - 2 * var(--padding-sides));
  margin: 1em 5% 0;
	padding: .75em var(--padding-sides);
  box-shadow: inset .2em 0 var(--accent-color);
  justify-content: center;
  align-items: center;
	cursor: pointer;
  transition: color var(--transition-duration), box-shadow var(--transition-duration);
}

ul.folders li:hover {
  box-shadow: inset .2em 0 var(--accent-color), inset 0px 0px 0px .1em var(--light-shadow);
}

ul.folders li[enabled="true"] {
  color: var(--accent-color);
  box-shadow: inset calc(var(--padding-sides) / 2) 0 var(--accent-color), inset 0px 0px 0px .1em var(--light-shadow);
}

ul.folders li:last-of-type,
ul.folders li:nth-last-of-type(2) {
  margin-bottom: 1em;
}

@media screen and ((max-width: 512px) or (orientation: portrait)) {
  ul.folders li {
    display: inline-block;

    width: calc(50% - 4 * var(--padding-sides));
    margin: 1em 1em 0;
  	padding: 2em var(--padding-sides);
    box-shadow: inset .25em 0 var(--accent-color), inset 0px 0px 0px .1em var(--light-shadow);
  }

  ul.folders li:hover {
    box-shadow: inset .25em 0 var(--accent-color), inset 0px 0px 0px .1em var(--light-shadow);
  }
}
