form.login {
  position: relative;
  min-height: inherit;
  text-align: center;
}

form.task-form {
  --height: 100%;

  position: absolute;
  top: 100%;
  height: calc(var(--height) - 2rem);
  width: inherit;
  margin: 1rem 0;

  background-color: var(--background-color);

  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Edge */

  transition: top var(--transition-duration);
  z-index: 9998;
}

form.task-form::-webkit-scrollbar { /* Chrome, Safari, Opera */
	 display: none;
}

form.task-form[enabled="true"] {
  top: calc(100% - var(--height));
}

label {
  --input-width: 20ch;
  border-radius: 2em;
  margin-top: 1em;
  right: calc(-50% + var(--input-width));

  display: block;
  position: relative;
  width: calc(var(--input-width) * 2);

  transition: color var(--transition-duration);
}

label:has(input:focus) {
  color: var(--accent-color);
}

.login label {
  margin-top: 2em;
}

.login label:first-of-type {
  margin-top: 20vh;
  margin-top: 20svh;
}

input {
    font: inherit;

    border: 0;
    width: var(--input-width);
}

label>input {
  margin-left: 1ch;
}

input:focus {
  outline: none;
}

input::placeholder {
  opacity: .75;
}

.login input[type="submit"] {
  margin-top: 3em;
}

@media screen and (max-width: 1080px) {
}

@media screen and ((max-width: 512px) or (orientation: portrait)) {
}
