ul.tasks li:not(ul.tags li) {
  --checkbox-size: 2.5rem;

  position: relative;
  margin-top: 1rem;

  display: grid;
  grid-template-columns: calc(var(--checkbox-size) + 1rem) calc(50% - 1rem - var(--checkbox-size)) calc(50% - 1rem - var(--checkbox-size)) calc(var(--checkbox-size) + 1rem);
  align-items: center;

  width: 100%;
  overflow: visible;
}

ul.tasks li:not(ul.tags li):first-of-type {
  margin-top: 0;
}

.data {
  text-align: left;
  transition: opacity var(--transition-duration);
}

.description,
ul.tasks time {
  --inset: 2rem;

  position: relative;
  max-width: calc(100% - var(--inset));
  left: 0;

  transition: left var(--transition-duration);
}

.done .description,
ul.tasks .done time {
  left: var(--inset);
}

.description {
  font-size: 2em;
  overflow: visible;
}

ul.tasks time {
    font-weight: 100;
}

.done .description {
    text-decoration: line-through;
}

.done .data,
ul.tasks .done ul.tags {
  opacity: .5;
}

ul.tasks ul.tags {
  transition: opacity var(--transition-duration);
}

.edit {
  height: 100%;
  font-size: 1.5rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;

  transition: color var(--transition-duration);
}

.edit:hover,
ul.tasks li:has(.edit-menu:hover) .edit {
  color: var(--accent-color);
}

.edit-menu {
  display: grid;
  position: absolute;
  top: calc(50% + .5rem);
  right: calc(-6ch - 1.5rem);

  opacity: 0;

  transition: right var(--transition-duration), opacity var(--transition-duration);
  z-index: 1;
}

.edit:hover+.edit-menu,
.edit-menu:hover {
  right: 0;
  opacity: 1;
}

.edit-menu button {
  display: block;
}

@media screen and ((max-width: 512px) or (orientation: portrait)) {
  ul.tasks li:not(ul.tags li) {
    grid-template-columns: calc(var(--checkbox-size) + 2rem) calc(100% - 4rem - 2 * var(--checkbox-size));
  }

  ul.tasks li:not(ul.tags li):first-of-type {
    margin-top: 1rem;
  }

  ul.tasks ul.tags {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .edit {
    position: absolute;
    display: flex;
    width: calc(2rem + var(--checkbox-size));
    top: 0;
    right: 0;
  }
}
